header {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    border: dotted;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #092252;
    background-color:#dbb64c;
    padding: 10px;
    margin-bottom: 0;
    border: 
}

